<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
</head>
<body text="olive">
    <h1><ins>Персонажи</ins></h1>
    <h2>Базовый уровень</h2>
<ul>
    <li><i>{{b_1}}</i><button onclick="location.href='/cart';">Купить</button></li>
    <li><i>{{b_2}}</i><button onclick="location.href='/cart';">Купить</button></li>
    <li><i>{{b_3}}</i><button onclick="location.href='/cart';">Купить</button></li>
</ul>
    <h2>Улучшеный уровень</h2>
<ul>
    <li><i>{{i_1}}</i><button onclick="location.href='/cart';">Купить</button></li>
    <li><i>{{i_2}}</i><button onclick="location.href='/cart';">Купить</button></li>
    <li><i>{{i_3}}</i><button onclick="location.href='/cart';">Купить</button></li>
</ul>
    <h2>Совершенный уровень</h2>
<ul>
    <li><i>{{p_1}}</i><button onclick="location.href='/cart';">Купить</button></li>
    <li><i>{{p_2}}</i><button onclick="location.href='/cart';">Купить</button></li>
    <li><i>{{p_3}}</i><button onclick="location.href='/cart';">Купить</button></li>
</ul>
<button onclick="location.href='/';">{{back}}</button>
<button onclick="location.href='/cart';">{{cart}}</button>
</body>
</html>